<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Full Regression">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class
				name="com.automationpractice.ag_testng.e2e_flows.CheckoutSummerDress" />
			<class
				name="com.automationpractice.ag_testng.user_stories.user_story_1.UserStory1AC1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
